<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xm:lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>Twitter Client Home</title>
        <link rel="stylesheet" href="home.css"/>
    </head>
    <body>
        <div class="maindiv">
            <p>This is a test paragraph</p>
        </div>
        <div class="twitter">
        </div>
    </body>
</html>